DJANGO_SECRET_KEY=your_django_secret_key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
TOTP_SECRET_KEY=your_totp_secret

MQTT_BROKER = "<ip_address>"
MQTT_PORT = "<port>"
#If you have set a username and password for your Mosquitto broker, replace "admin" and "password" with your actual credentials.
MQTT_USERNAME = "admin"
MQTT_PASSWORD = "password"