<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PyDomus{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'dashboard/style.css' %}">
</head>
<body class="dashboard-body">
    <nav class="navbar-login">
        <img src="{% static 'images/logo.jpeg' %}" alt="Logo PyDomus" class="navbar-logo">
        <span class="navbar-title">PyDomus</span>
        <a href="/">Accueil</a>
        <a href="{% url 'history' %}">Historique</a>
        <a href="{% url 'alerts' %}">Alertes</a>
        <a href="{% url 'account' %}">Compte</a>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>